@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull!</h1>
        Order Number is : @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Payment has been done successfully! <br />
        <a asp-action="details" asp-controller="Order" asp-area="admin" asp-route-orderId="@Model" class="btn btn-primary">Back to order details</a>
    </div>
</div>
